# https://erlang-ls.github.io/configuration/
# otp_path: "/path/to/otp/lib/erlang"
deps_dirs:
  - "deps/*"
  - "deps/*/apps/*"
  - "_build/default/lib/*"
diagnostics:
  disabled:
    - bound_var_in_pattern
  enabled:
    - compiler
    - crossref
    - dialyzer
    - elvis
    - unused_macros
    - unused_includes
include_dirs:
  - "apps"
  - "apps/*/include"
  - "_build/default/lib/"
  - "_build/default/lib/*/include"
lenses:
  # enabled:
    # - ct-run-test
    # - show-behaviour-usages
    # - suggest-spec
    # - function-references
  disabled: []
# macros:
#   - name: DEFINED_WITH_VALUE
#     value: 42
# code_reload:
#  node: courier@localhost
plt_path: "_build/default/rebar3_24.3.4.5_plt"
