[
 {courier, [
            {pools, [
                     {test, #{port => 8081,
                              acceptors => 10,
                              resources => [{example, "/", courier_handler_example, []},
                                            {example2, "/route/(?<test>.*)", courier_handler_example, []}]}}
                    ]}
           ]}
].
